<div class="row">
  <h2 class="center">Welcome to SongData! :,v</h2>
  <p class="center">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium eum nihil, modi, delectus quis exercitationem natus deleniti molestiae nemo, sint debitis officia in soluta aliquid ad enim at! Fugiat, dignissimos.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque, odit voluptatum repellendus quasi tempora, voluptatibus laboriosam nesciunt, labore dolore distinctio in mollitia. Ut maiores amet deserunt sed quaerat saepe.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque labore consequatur cum aliquid ab! Nostrum in quidem nemo cupiditate? Porro dolor provident aspernatur sint quam deserunt minima quis. Non, nesciunt.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi mollitia quia similique, ipsum ex nulla eum deserunt labore praesentium earum officiis cum veniam, reiciendis autem nisi dignissimos nam quisquam nihil.

  </p>
  
</div>
<div class="row">
  <div class="col s4">
    
  </div>
  <div class="col s4">
    <!-- Promo Content 2 goes here -->
  </div>
  <div class="col s4">
    <!-- Promo Content 3 goes here -->
  </div>
</div>